.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
}

.header h1 {
    flex-grow: 1;
    margin-left: 15px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    margin-right: 15px;
}

.navbar ul {
    display: flex;
    margin-right: 25px;
    list-style: none;
    font-size: 20px;
}

.navbar ul li {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.navbar button {
    /* padding: 1px; */
    /* margin-bottom: 15px; */
    width: 200px;
    border-radius: 35px 0 35px 0;
    border: 1px solid rgb(0, 0, 0);
    color: black;
    /* margin-left: 30%; */
    font-size: 17px;
}

.navbar button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid purple;
    cursor: pointer;
}

.navbar button:active {
    box-shadow: 0px 10px rgba(19, 18, 18, 0.164);
}